@import "tailwindcss";

:root {
  font-family: Manrope;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background: #fafafa;
  background: radial-gradient(circle, rgba(250, 250, 250, 1) 0%, rgba(247, 247, 247, 1) 50%, rgba(232, 232, 232, 1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Manrope;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #4b8efb;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes blinkinDot {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

.glass {
  @apply bg-white/30 shadow-[0_2px_7px_rgba(0,0,0,0.07)] backdrop-blur-md border border-white/30
}

.parallax {
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 50px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

.threads-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.orb-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.card-swap-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(5%, 20%);
  transform-origin: bottom right;

  perspective: 900px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #353535;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
}

@media (max-width: 1024px) {
  .card-swap-container {
    transform: scale(0.75) translate(25%, 25%);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.55) translate(25%, 25%);
  }
}

.card-spotlight {
  position: relative;
  border-radius: 1.5rem;
  border: 0.5px solid #fff;
  background-color: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 80%, transparent);
  padding: 2rem;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.05);
}

.sidebar-card-spotlight {
  position: relative;
  border-radius: 0rem;
  border: 0px;
  background-color: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 70%, transparent);
  padding: 2rem;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.05);
}

.card-spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.sidebar-card-spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}

.sidebar-card-spotlight:hover::before,
.sidebar-card-spotlight:focus-within::before {
  opacity: 0.6;
}
